body{
  background:#0000ff;
}

h1{
  text-align:center;
  margin-bottom:5px;
  color: white;
}

p.info{
  text-align:center;
  width:400px;
  margin:0 auto;
  font-size:12px;
  font-weight:bold;
  color:#666;
  margin-bottom:20px;
}

#game-base{
  width:640px;
  margin:0 auto;
  padding-top:60px;
}

#game-table{
  width:434px;
  height:374px;
  margin:0 auto;
  background:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fincompetech.com%2Fgraphpaper%2Flite%2F&psig=AOvVaw2rJqd-ATLGgjM6WZISkjzi&ust=1582305677635000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIi3-ZDS4OcCFQAAAAAdAAAAABAD") 0 0 no-repeat;
  position:relative;
}

.disc{
  position:absolute;
  z-index:-1;
  top:-55px;
  left:14px;
  width:46px;
  height:46px;
  border-radius:46px;
  transition:all .3s;
}

.disc.red{
  background:red;
}

.disc.yellow{
  background:yellow;
}
a{
  background-color: #ffffff
}
div.header{
  text-align:center;
}
